@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.image-lazy {
  opacity: 0;
}
.image-lazy-loading {
  filter: blur(5px);
}
.image-lazy-loaded {
  transition: opacity 2s ease, transform 1s ease, filter 1s ease;
  opacity: 1;
  transform: none;
  filter: none;
}
